<h2> Employee List </h2>
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <td> {{employee.firstName}} </td>
            <td> {{employee.lastName}} </td>
            <td> {{employee.email}} </td>
            <td>
                <button (click) = "updateEmployee(employee.employeeId)" class="btn btn-secondary"> Update</button>
                <button (click) = "onOpenModal(employee)" class="btn btn-danger" style="margin-left: 10px"  data-toggle="modal" data-target="#delete"> Delete </button>
                <button (click) = "employeeDetails(employee.employeeId)" class="btn btn-info" style="margin-left: 10px"> View Details</button>
              
            </td>
        </tr>
    </tbody>
</table>

<!----------------------Modal--------------------->
<div  class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Delete employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{deleteEmployee?.firstName}} {{deleteEmployee?.lastName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click) = "onDeleteEmployee(deleteEmployee.employeeId)" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

