<p>employee-details works!</p>
<h3>Employee Details</h3>
<div>
    <div>
        <label for=""><b>First Name: </b> {{employee.firstName}} </label>
    </div>
    <div>
        <label for=""><b>Last Name: </b> {{employee.lastName}} </label>
    </div>
    <div>
        <label for=""><b>Gender: </b> {{employee.gender}} </label>
    </div>
    <div>
        <label for=""><b>Citizenship: </b> {{employee.citizenship}} </label>
    </div>
    <div>
        <label for=""><b>Email: </b> {{employee.email}} </label>
    </div>
    <div>
        <label for=""><b>Address: </b> {{employee.address}} </label>
    </div>
    <div>
        <label for=""><b>Marital Status: </b> {{employee.maritalStatus}} </label>
    </div>
    <div>
        <label for=""><b>Social Security: </b> {{employee.socialSecurity}} </label>
    </div>
    <div>
        <label for=""><b>Project: </b> {{employee.project}} </label>
    </div>
    <div>
        <label for=""><b>Age: </b> {{employee.age}} </label>
    </div>
</div>